@model CrudEntityFramework.Models.Usuario

@{
    ViewData["Title"] = "Detalle usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">CRUD Usuarios</h1>

<hr />
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Detalle de usuario</strong></h3>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
                <li class="list-group-item"><strong>Teléfono: </strong>@Html.DisplayFor(m => m.Telefono)</li>
                <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(m => m.Celular)</li>
                <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Volver a lista</a>
</div>