<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control">Crear</button>        
    </div>
    &nbsp;
    <div class="col">
       <a asp-action="Index" class="btn btn-success form-control">Volver a lista</a>
    </div>
</div>